In [26]:
import streamlit as st
import pandas as pd
import psycopg2

# PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",
    database="ramji",
    user="postgres",
    password="Ktm@9291",
    port=5432
)
providers_df = pd.read_csv('providers_data.csv')
receivers_df = pd.read_csv('receivers_data.csv')
food_listings_df = pd.read_csv('food_listings_data.csv')
claims_df = pd.read_csv('claims_data.csv')


# Streamlit page config
st.set_page_config(page_title="Local Food Wastage System", layout="wide")
st.title("üçõ Local Food Wastage Management System")

# Sidebar navigation
menu = st.sidebar.radio("Select Section", ["Providers", "Receivers", "Food Listings", "Claims", "Analysis"])

# Providers Section
if menu == "Providers":
    st.header("Food Providers by City")
    cities = pd.read_sql_query("SELECT DISTINCT City FROM providers_data ORDER BY City", connection)
    selected_city = st.selectbox("Select a City", cities['City'])

    query = "SELECT Name, Contact FROM providers_data WHERE City = %s"
    results = pd.read_sql_query(query, connection, params=(selected_city,))
    
    st.write(f"Found {len(results)} providers in {selected_city}:")
    st.dataframe(results)

# Receivers Section
elif menu == "Receivers":
    st.header("üéØ Food Receivers by City")
    cities = pd.read_sql_query("SELECT DISTINCT City FROM receivers_data ORDER BY City", connection)
    selected_city = st.selectbox("Select a City", cities['City'])

    query = "SELECT Name, Contact FROM receivers_data WHERE City = %s"
    results = pd.read_sql_query(query, connection, params=(selected_city,))
    st.write(f"Found {len(results)} receivers in {selected_city}:")
    st.dataframe(results)

# Food Listings
elif menu == "Food Listings":
    st.header("üçΩ Available Food Listings")
    df = pd.read_sql_query("SELECT * FROM food_listings_data", connection)
    st.dataframe(df)

# Claims
elif menu == "Claims":
    st.header("üì¶ Food Claims Overview")
    df = pd.read_sql_query("SELECT * FROM claims_data", connection)
    st.dataframe(df)

# Analysis
elif menu == "Analysis":
    st.header("üìä Insights & SQL Queries")
    col1, col2 = st.columns(2)

    with col1:
        st.subheader("1. Providers & Receivers by City")
        df1 = pd.read_sql_query("SELECT City, COUNT(*) AS Providers FROM providers_data GROUP BY City", connection)
        df2 = pd.read_sql_query("SELECT City, COUNT(*) AS Receivers FROM receivers_data GROUP BY City", connection)
        merged = pd.merge(df1, df2, on="City", how="outer").fillna(0)
        st.dataframe(merged)

    with col2:
        st.subheader("2. Top Provider Types")
        df = pd.read_sql_query("SELECT Type, COUNT(*) AS Total FROM providers_data GROUP BY Type ORDER BY Total DESC", connection)
        st.dataframe(df)

    st.subheader("3. Completed vs. Pending vs. Cancelled Claims")
    df = pd.read_sql_query("SELECT Status, COUNT(*) AS Count FROM claims_data GROUP BY Status", connection)
    st.bar_chart(df.set_index("Status"))

# Close DB connection
connection.close()

C:\Users\naruk\AppData\Local\Temp\ipykernel_22284\2689125981.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cities = pd.read_sql_query("SELECT DISTINCT City FROM providers_data ORDER BY City", connection)

DatabaseError: Execution failed on sql 'SELECT DISTINCT City FROM providers_data ORDER BY City': relation "providers_data" does not exist
LINE 1: SELECT DISTINCT City FROM providers_data ORDER BY City
                                  ^